 .feed {
     background: var(--color-white);
     border-radius: var(--card-border-radius);
     padding: var(--card-padding);
     margin: 1rem 0;
     font-size: 0.85rem;
     line-height: 1.5;
 }

 .feed .head {
     display: flex;
     justify-content: space-between;
 }

 .feed .user {
     display: flex;
     gap: 1rem;
 }

 .feed .photo {
     border-radius: var(--card-border-radius);
     overflow: hidden;
     margin: 0.7rem 0;
 }

 .feed .action-buttons {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 1.4rem;
     margin: 0.6rem;
 }

 .uil.uil-bookmark-full.active {
     fill: var(--color-primary);
     position: relative;
     top: 4px;
     transition: 0.4s fill ease-in-out;
 }

 .liked-by {
     display: flex;
     margin-left: 0.6rem;
 }

 .liked-by span {
     width: 1.4rem;
     height: 1.4rem;
     display: block;
     border-radius: 50%;
     overflow: hidden;
     border: 2px solid var(--color-white);
     margin-left: -0.6rem;
 }

 .uil.uil-heart.active {
     fill: #e30f0f;
     font-weight: bold;
     position: relative;
     top: 4px;
     transition: 0.4s fill ease-in-out;
 }

 .interaction-buttons,
 .bookmark {
     cursor: pointer;
 }

 .post__action--btns {
     background-color: #fff;
     position: absolute;
     right: 0;
     padding: 0.5rem;
     cursor: pointer;
     border-radius: 8px;
     box-shadow: rgb(13 13 15 / 25%) 0px 4px 6px -2px, rgb(24 23 23 / 30%) 0px 3px 4px -3px;
     font-size: 0.8rem;
 }

 .edit__container {
     position: relative;
 }

 .edit__icon {
     display: flex;
     justify-content: flex-end;
     cursor: pointer;
 }

 .hash-tag {
     color: rgb(29, 155, 240);
     font-size: 0.8rem;
     font-weight: bold;
 }