 .feed {
     background: var(--color-white);
     border-radius: var(--card-border-radius);
     padding: var(--card-padding);
     margin: 1rem 0;
     font-size: 0.85rem;
     line-height: 1.5;
 }

 .feed .head {
     display: flex;
     justify-content: space-between;
 }

 .feed .user {
     display: flex;
     gap: 1rem;
 }

 .feed .photo {
     border-radius: var(--card-border-radius);
     overflow: hidden;
     margin: 0.7rem 0;
 }

 .feed .action-buttons {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 1.4rem;
     margin: 0.6rem;
 }

 .uil.uil-bookmark-full.active {
     fill: var(--color-primary);
     position: relative;
     top: 4px;
     transition: 0.4s fill ease-in-out;
 }

 .liked-by {
     display: flex;
     margin-left: 0.6rem;
 }

 .liked-by span {
     width: 1.4rem;
     height: 1.4rem;
     display: block;
     border-radius: 50%;
     overflow: hidden;
     border: 2px solid var(--color-white);
     margin-left: -0.6rem;
 }

 .uil.uil-heart.active {
     fill: #e30f0f;
     font-weight: bold;
     position: relative;
     top: 4px;
     transition: 0.4s fill ease-in-out;
 }

 .interaction-buttons,
 .bookmark {
     cursor: pointer;
     display: flex;
     gap: 1rem;
 }

 .post__action--btns {
     background-color: var(--color-white);
     position: absolute;
     right: 0;
     cursor: pointer;
     border-radius: 8px;
     box-shadow: -1px 0 7px -1px #282626;
     z-index: 1;
     font-size: 0.8rem;
 }
 .post__action--btns li{
    padding: 0.5rem 0.8rem;
 }
 .post__action--btns li:hover{
    background-color:   hsla(251, 12%, 57%, 0.4);
    border-radius: 8px;
 }

 .edit__container {
     position: relative;
 }

 .edit__icon {
     display: flex;
     justify-content: flex-end;
     cursor: pointer;
 }

 .hash-tag {
     color: rgb(29, 155, 240);
     font-size: 0.8rem;
     font-weight: bold;
 }
 .caption span{
    margin-right: 0.7rem;
 }
 .liked-by p{
    margin-left: 0.4rem;
    max-width: 370px;
 }
 .liked-by b{
  margin-left: 0.2rem;
 }
 .caption p{
    max-width: 720px; 
 }