.edit-form{
    display: flex;
    flex-direction: column;
}
.edit-form input{
    width: 100%;
    border: 1px solid var(--color-gray);
    padding: 0.5rem;
    border-radius: 5px;
    outline: none;
}
.user__info{
    display: flex;
    align-items: center;
    gap: 1rem
}
textarea{
    width: 100%;   
    outline: none;
    resize: none;
}
.edit__post--image{
    width: 100px;
    height: 100px;
}