.profile {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    
    column-gap: 1rem;
    width: 100%;
    height: max-content;

}
.handle{
    display: flex;
    justify-content: space-between;
}
.uil.uil-edit{
cursor: pointer;
font-size: 1.3rem;
}
.website__link{
    color: rgb(29, 155, 240);
    font-size: 0.8rem;
}
.username__text{
    font-size: 0.9rem;
}
.follow__sec{
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-around;
}
.follow__sec span{
    margin-left: 0.2rem;
}
.follow__sec p{
    margin-right: 0.6rem;
}
.profile_user_info{
display: flex;
gap: 1rem ;
align-items: center;
}