.filter-lists .isActive{
    color: #000;
    font-weight: bold;
    transition:  all 300ms ease;
}
.create__post{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.create__post--icons{
    position: relative;
}
.create__post--icons .img__icon{
left: -30.5rem !important;
top: 1rem !important;
}

.filter__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}
.filter__container{
    position: relative;
}
.filter__container h3{
    color: var(--color-gray);
}
.filter-lists{
    background-color: #fff;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 2.5rem;
    border-radius: 8px; 
    box-shadow: rgb(13 13 15 / 25%) 0px 4px 6px -2px, rgb(24 23 23 / 30%) 0px 3px 4px -3px;
}
.filter-lists li{
    font-size: 0.9rem;
    cursor: pointer;
}
.filter__icon{
    cursor: pointer;
}
.post__input{
    border: none;
    outline: none;
}
.smile__icon{
    position: absolute;
    top: 1.4rem;
    font-size: 1.3rem;
    right: 27rem;
    cursor: pointer;
}
.emoji--container{
    position: absolute;
    right: 9rem;
    z-index: 10;
    top: 3rem;
}
.create__post--image{
    width: 100%;
    height: auto;
    border-radius: 0.6rem;
}
.close__post--image{
    position: absolute;
    top: 0.2rem;
    border-radius: 50%;
    border: 1px solid red;
    right: 1.5rem;
  
}
.create__post--container{
    margin-top: 1rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: 0.6rem;
}
.post__button{
    display: flex;
    justify-content: flex-end;
    margin-top: 0.6rem;
}
.post__button button:disabled{
    opacity: 0.7;
    cursor: none;
}