.choose-color{
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.choose-color span{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%; 
}
.choose-color span.active{
    border: 5px solid white;
}
.choose-color span:nth-child(1){
    background: hsl(252, 75%, 60%);
}
 .choose-color span:nth-child(2){
    background: hsl(52, 75%, 60%);
}
.choose-color span:nth-child(3){
    background: hsl(352, 75%, 60%);
}
 .choose-color span:nth-child(4){
    background: hsl(152, 75%, 60%);
}
 .choose-color span:nth-child(5){
    background: hsl(202, 75%, 60%);
}
/***background theme:css**/
.choose-bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
 .choose-bg > div{
    padding: var(--card-padding);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
}
.choose-bg span:nth-child(1){
    background: #fff;
    color: #000;
}
.choose-bg span:nth-child(2){
    background: hsl(252, 30%, 17%);
    color: #fff;
}
.choose-bg span:nth-child(3){
    background: hsl(252, 30%, 10%);
    color: #fff;
}
.choose-bg span{
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--color-gray);
    border-radius: 50%;
    margin-right: 1rem;
}