.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 98;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal {
    position: relative;
    z-index: 99;
    width: 100%;
    max-width: 20rem;
    max-height: 100%;
    margin: 0 auto;
}

.modal-body {
    box-shadow: rgba(57, 56, 56, 0.24) 0px 2px 6px;
    border-radius: 8px;
    padding: 2rem;
    background: linear-gradient(rgb(253, 252, 252), rgb(255 255 255) 50%, rgb(253, 253, 252) 100%);
    margin-bottom: 1.5rem;
    position: absolute;
    bottom: -5rem;
    width: 400px;
}

.modal-close {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.7rem;
    font-weight: 600;
    position: absolute;
    bottom: 15rem;
    right: -4rem;
    z-index: 999;
    color: #000;
}
.modal-close:hover{
    background-color : rgb(27 26 26 / 45%);
    border-radius: 50%;
    transition: background-color 300ms ease;
}