.comment_user--sec {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.comment__username {
  font-size: 0.75rem;
  line-height: 5px;
  display: flex;
  gap: 1.5rem;
}
.commented__time {
  font-size: 0.65rem;
}
.fw-bold {
  font-weight: bold;
}
.comment__sec {
  display: flex;
  gap: 1.5rem;

  align-items: center;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #f5f0f0;
}
.comment__sec textarea {
  width: 80%;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  border: 0.4px solid var(--color-primary);
}
.comment__sec textarea::placeholder {
  font-family: "Poppins", sans-serif;
}
.comment__sec button {
  margin-top: 1.2rem;
}
.comment__sec button:disabled {
  opacity: 0.7;
}
.all__comments {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.comment {
  margin: 0.6rem;
  letter-spacing: 0.2px;
}
.comment__action--btns {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.update textarea {
  width: 330px !important;
}
.edit i {
  cursor: pointer;
}
