@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary-color-hue: 252;
  --dark-color-lightness : 17%;
  --light-color-lightness : 95%;
  --white-color-lightness: 100%;

  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-gray: hsl(var(--primary-color-hue), 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, var(--dark-color-lightness));
  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
  
  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}
.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  background: var(--color-primary);
  color: #fff;
}
.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-gray);
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.txt-center{
  text-align: center;
}

/** GENERAL STYLES **/
.container {
  width: 80%;
  margin: 0 auto;
}

.profile-picture {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}
.main {
  position: relative;
  top: 5.4rem;
}

.main .container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  column-gap: 2rem;
  position: relative;
}
.main .post-container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  column-gap: 2rem;
}
.postdetail__sec {
  width: 80%;
  margin: 0 auto;
}
.discard-btn {
  color: rgb(213, 32, 32);
}
.error_image{
  height: 550px;
  margin: 1.4rem 0;
  border-radius: var(--border-radius);
}
.error__container{
  width: 80%;
  margin: 0 auto;
}
.error__container h3{
  margin: 0.8rem 0;
}
textarea::placeholder{
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 97%;
  }
  .main .container {
    grid-template-columns: 5rem auto 30vw;
    gap: 1rem;
  }
  .left {
    width: 5rem;
    z-index: 5;
  }
  .sidebar span {
    display: none;
  }
  .sidebar .menu-item {
    justify-content: center;
  }
  .main .post-container {
    grid-template-columns: 0 100% 0rem;
    gap: 0;
  }
  .error_image{
    height: 350px;
  }

  .customize-theme .card {
    padding: 1rem !important;
    width: 80% !important;
  }
  .postdetail__sec {
    width: 100% !important;
  }
 
}
@media screen and (max-width: 992px) {
  .main .container {
    grid-template-columns: 16 90% 5rem;
    gap: 0;
  }
  .left {
    z-index: 0 !important;
  }
  .main .post-container .middle {
    grid-column: 1/4;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
  .main .post-container .left .sidebar {
    grid-column: 1/3;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .main .container .left .sidebar {
    grid-column: 1/3;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .main .post-container .right {
    display: none;
  }
  .sidebar ul {
    display: flex;
    justify-content: space-around;
  }
  .sidebar i {
    display: flex;
    margin: 0 !important;
  }
  .main .container .middle {
    grid-column: 1/4;
    width: 95%;
    margin: 0 auto;
  }
  .main .container .right {
    display: none;
  }
  .caption p,
  .hash-tag {
    max-width: 300px !important;
    word-wrap: break-word;
  }
  .modal-close {
    bottom: 15rem;
    left: 17rem;
  }
  .modal {
    width: 83% !important;
  }
  .modal-body {
    width: 320px !important;
  }
  .update textarea {
    width: 255px !important;
  }
  .comment__sec {
    flex-wrap: wrap;
  }
  .create__post--icons .img__icon {
    left: -18.5rem !important;
  }
  .smile__icon {
    right: 15rem !important;
  }
  .emoji--container {
    right: -1rem !important;
    top: 6.5rem !important;
  }
  .liked-by span {
    display: flex !important;
  }
  .post__image__container {
    margin-top: 4rem;
  }
  .modal-close:hover {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    display: none;
  }

  .auth-form {
    margin: 1.5rem auto;
  }
  .login__container {
    flex-direction: column;
  }
  .auth-form input {
    width: 289px !important;
  }
  .logo {
    font-size: 16px !important;
  }
  .logo__container {
    gap: 0.2rem !important;
  }
}
